<!-- <div class="container"> -->
<!-- <h2>Red: {{(colors$ | async).r}}</h2>
<h2>Green: {{(colors$ | async).r}}</h2>
<h2>Blue: {{(colors$ | async).r}}</h2>
<h3>Selected Color Key: {{colorKey$ | async }}</h3> -->
<!-- <h3>Selected Color Values: {{(selectedValue$ | async )}}</h3>
<button (click)="newColors()">Click Me</button> -->
<!-- <h5>Selected Color: {{ColorObj[key]}}</h5> -->
  <!-- <button class="nothing-btn" (click)="doNothing()" (mousemove)="doNothing()">Do Nothing</button> -->
<!-- </div> -->

<!-- <div class="container">
  <h2>first Signal Value: {{firstSignal()}}</h2>
  <button (click)="setSignal()">setSignal</button>
  <button (click)="updateSignal()">updateSignal</button>

  <br/>
  <h2>Derived Signal : {{derived()}}</h2>
</div> -->
<!-- <app-without-signals></app-without-signals> -->
 <!-- <app-with-signals></app-with-signals> -->
  <!-- <app-linked-signal></app-linked-signal> -->
<!-- <div class="container">
  <div class="tgl-button">
    <button mat-raised-button (click)="toggleCounter()">Start/Stop Counter</button>
  </div>

    @if(showCounter){
      <app-counter></app-counter>
       <app-counter-with-signals></app-counter-with-signals>
    }@else {
      <h6>Counter Stopped</h6>
    }
</div> -->
<!-- <div class="container">
  <app-reactive-context-with-effect></app-reactive-context-with-effect>
</div> -->
<!-- <div class="container mt-3">

  <div>
    <mat-form-field appearance="outline">
      <mat-label>Enter First Number: </mat-label>
      <input  matInput [(ngModel)]="firstValue">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Enter Second Number: </mat-label>
      <input  matInput [(ngModel)]="secondValue">
    </mat-form-field>
  </div>
  <div>
    <app-input [fValue]="firstValue" [sValue]="secondValue"></app-input>
  </div>

</div> -->
<!-- <div class="container mt-5">
  App Component:<h4> {{msg}}</h4>
  <app-output (message)="msg = $event"></app-output>
</div> -->

<!-- <div class="container mt-5">
  <app-traditional-vc-child></app-traditional-vc-child>
  <app-traditional-vc-child></app-traditional-vc-child>
  <button class="nothing-btn" (click)="logChild()">Log Child</button>
  <br>
  <button class="nothing-btn" (click)="logChildren()">Log Children</button>
</div> -->
<!-- <div class="container mt-5">
  <app-signals-vc-child></app-signals-vc-child>
  <button class="nothing-btn" (click)="logChild()">Log Child</button>
</div> -->
<div class="container mt-5">
  <app-signals-vc-child></app-signals-vc-child>
  <app-signals-vc-child></app-signals-vc-child>
  <app-signals-vc-child></app-signals-vc-child>
  <button class="nothing-btn" (click)="logChildren()">Log Children</button>
</div>
