.container{
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

}
.nothing-btn{
  padding: 10px 40px;
  background-color: orangered;
  border: none;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 5px 8px #000;
}
.nothing-btn:hover{
  background-color: red;
}
.tgl-button{
  margin-top: 20px;
}
.toolbar {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
.results {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  padding: 8px;
}
.item {
  padding: 4px;
  border-radius: 4px;
  border: 1px solid black;
}

