<!-- <div class="container"> -->
<!-- <h2>Red: {{(colors$ | async).r}}</h2>
<h2>Green: {{(colors$ | async).r}}</h2>
<h2>Blue: {{(colors$ | async).r}}</h2>
<h3>Selected Color Key: {{colorKey$ | async }}</h3> -->
<!-- <h3>Selected Color Values: {{(selectedValue$ | async )}}</h3>
<button (click)="newColors()">Click Me</button> -->
<!-- <h5>Selected Color: {{ColorObj[key]}}</h5> -->
  <!-- <button class="nothing-btn" (click)="doNothing()" (mousemove)="doNothing()">Do Nothing</button> -->
<!-- </div> -->

<!-- <div class="container">
  <h2>first Signal Value: {{firstSignal()}}</h2>
  <button (click)="setSignal()">setSignal</button>
  <button (click)="updateSignal()">updateSignal</button>

  <br/>
  <h2>Derived Signal : {{derived()}}</h2>
</div> -->
<app-without-signals></app-without-signals>
 <!-- <app-with-signals></app-with-signals> -->
<router-outlet></router-outlet>
